<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.navigation">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.example.hp.navigation.AppController"
        android:allowBackup="true"
        android:icon="@drawable/l1"
        android:label="Alang Bazaar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.hp.navigation.MainActivity"
            android:label="Alang Bazzar"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name="com.example.hp.navigation.forgot1" />
        <activity android:name=".Login">

        </activity>
        <activity android:name="com.example.hp.navigation.register" />
        <activity android:name="com.example.hp.navigation.forgot"></activity>

        <activity android:name=".Introduction"></activity>
        <activity android:name="com.example.hp.navigation.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".list_display_schedule">

        </activity>
    </application>

</manifest>